<div class="content">
    <mat-card *ngIf="modalpix" class="modal-container">
        <div class="modal">
            <div class="div-btn-sair">
                <button mat-raised-button class="fechar-modal" (click)="fecharmodais()">x</button>
            </div>
            <h1>Chave pix:</h1>
            <h2>AKDS!5742</h2>
            <div class="div-btn-opcao">
                <button mat-raised-button id="btn-sim" style="background-color: #27ae60; color: #fff;" (click)="fecharmodais()">OK</button>
            </div>
        </div>
    </mat-card>
    <mat-card *ngIf="modalcartao" class="modal-container">
        <div class="modal">
            <div class="div-btn-sair">
                <button mat-raised-button class="fechar-modal" (click)="fecharmodais()">X</button>
            </div>
            <h2>Confirmar pagamento?</h2>
            <div class="div-btn-opcao">
                <button mat-raised-button id="btn-sim" style="background-color: #27ae60; color: #fff;" (click)="fecharmodais()">Sim</button>
                <button mat-raised-button class="fechar-modal" style="background-color: #c70039; color: #ffff; margin-left: 20px;" (click)="fecharmodais()">Não</button>
            </div>
        </div>
    </mat-card>
    <form [formGroup]="recargaform"  [ngClass]="{'overlay': mostrarModal}">
        <mat-card class="mat-card-form">
            <mat-card-title style="margin-top: 10px;">Recarregar Bilhe Único:</mat-card-title>
        <mat-form-field id="valor">
            <mat-label>Informe o valor desejado</mat-label>
            <input matInput placeholder="Valor" type="number" formControlName="valor" required>
            <mat-error *ngIf="this.recargaform.get('valor')?.invalid">{{erro()}}</mat-error>
        </mat-form-field>
        <mat-card-subtitle class="subtitle">Escolha a forma de pagamento:</mat-card-subtitle>
        <mat-radio-group id="radio" [(ngModel)]="pagamento">
            <mat-radio-button (click)="setpagamento('1')">Pix</mat-radio-button>
            <mat-radio-button (click)="setpagamento('2')">Cartão de Débito</mat-radio-button>
            <mat-radio-button (click)="setpagamento('3')">Cartão de Crédito</mat-radio-button>
        </mat-radio-group>
        <div id="pix" *ngIf="pagamento === '1'">
            <mat-card-subtitle class="subtitle">Confirmar Pagamento e gerar chave pix?</mat-card-subtitle>
            <button class="pix-button" mat-raised-button (click)="mostrarModalPix()" style="background-color: #27ae60; color: #fff;">Sim</button>
            <button mat-raised-button class="pix-button" style="background-color: #c70039; color: #ffff;" >Não</button>
        </div>

        <div class="paycard" *ngIf="pagamento === '2'">
            <mat-card-subtitle class="subtitle">Entre com os dados do Cartão de Débito</mat-card-subtitle>

            <mat-form-field>
                <mat-label>Número do cartão</mat-label>
                <input matInput required formControlName="numerodeb" name="card" type="number">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nome no cartão</mat-label>
                <input matInput required formControlName="nomedeb" name="nome" type="text">
            </mat-form-field>
            <div class="button">
                <button (click)="mostrarModalCartao()" [disabled]="this.recargaform.get('nomedeb')?.invalid" mat-raised-button style="background-color: #27ae60; color: #fff;">Enviar</button>
                <button mat-raised-button style="background-color: #c70039; color: #ffff;" type="reset">Limpar</button>
            </div>   
        </div>
        <div class="paycard" [formGroup]="recargaform"  *ngIf="pagamento === '3'">
            <mat-card-subtitle class="subtitle">Entre com os dados do Cartão de Crédito</mat-card-subtitle>

            <mat-form-field>
                <mat-label>Número do cartão</mat-label>
                <input matInput required type="number" name="card" formControlName="numerocred">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nome no cartão</mat-label>
                <input matInput required type="text" name="nome" formControlName="nomecred">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Data de Validade (MM/AAAA)</mat-label>
                <input matInput required  type="month" formControlName="data">
            </mat-form-field>

            <mat-form-field>
                <mat-label>CVV</mat-label>
                <input matInput required type="number" name="cvv" formControlName="cvv">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Número de Parcelas</mat-label>
                <mat-select formControlName="quantidade">
                    <mat-option *ngFor="let qtd of parcelas" [value]="qtd.value">
                        {{qtd.num}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="button">
                <button (click)="mostrarModalCartao()" [disabled]="this.recargaform.get('numerocred')?.invalid" mat-raised-button style="background-color: #27ae60; color: #fff;">Enviar</button>
                <button mat-raised-button style="background-color: #c70039; color: #ffff;" type="reset">Limpar</button>
            </div>            
        </div>
    </mat-card>
    </form>
</div>
