.content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

mat-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 1300px;
    height: 100%;
    min-height: 300px;
}

#valor{
    width: 600px;
    margin-top: 20px;
}

.subtitle{
    margin-top: 20px;
    font-size: 18px;
}

#radio{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.paycard{
    display: flex;
    flex-direction: column;
}