<div class="content">
    <form [formGroup]="recargaform">
        <mat-card>
            <mat-card-title style="margin-top: 10px;">Recarregar Bilhe Único:</mat-card-title>
        <mat-form-field id="valor">
            <mat-label>Informe o valor desejado</mat-label>
            <input matInput placeholder="Valor" type="number" formControlName="valor" required>
            <mat-error *ngIf="this.recargaform.get('valor')?.invalid">{{erro()}}</mat-error>
        </mat-form-field>
        <mat-card-subtitle class="subtitle">Escolha a forma de pagamento:</mat-card-subtitle>
        <mat-radio-group id="radio" [(ngModel)]="pagamento">
            <mat-radio-button (click)="setpagamento('1')">Pix</mat-radio-button>
            <mat-radio-button (click)="setpagamento('2')">Cartão de Débito</mat-radio-button>
            <mat-radio-button (click)="setpagamento('3')">Cartão de Crédito</mat-radio-button>
        </mat-radio-group>
        <div id="pix" *ngIf="pagamento === '1'">
            <mat-card-subtitle class="subtitle">Confirmar Pagamento e gerar chave pix?</mat-card-subtitle>
            <button class="pix-button" mat-raised-button style="background-color: #27ae60; color: #fff;">Sim</button>
            <button mat-raised-button class="pix-button" style="background-color: #c70039; color: #ffff;">Não</button>
        </div>
        <div class="paycard" *ngIf="pagamento === '2'">
            <mat-card-subtitle class="subtitle">Entre com os dados do Cartão de Débito</mat-card-subtitle>

            <mat-form-field>
                <mat-label>Número do cartão</mat-label>
                <input matInput required formControlName="numerodeb">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nome no cartão</mat-label>
                <input matInput required formControlName="nomedeb">
            </mat-form-field>
            <div class="button">
                <button [disabled]="this.recargaform.get('nomedeb')?.invalid" mat-raised-button style="background-color: #27ae60; color: #fff;">Enviar</button>
                <button mat-raised-button style="background-color: #c70039; color: #ffff;">Limpar</button>
            </div>   
        </div>
        <div class="paycard" [formGroup]="recargaform"  *ngIf="pagamento === '3'">
            <mat-card-subtitle class="subtitle">Entre com os dados do Cartão de Crédito</mat-card-subtitle>

            <mat-form-field>
                <mat-label>Número do cartão</mat-label>
                <input matInput required type="text" formControlName="numerocred">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nome no cartão</mat-label>
                <input matInput required type="text" formControlName="nomecred">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Data de Validade (MM/AAAA)</mat-label>
                <input matInput required  type="month" formControlName="data">
            </mat-form-field>

            <mat-form-field>
                <mat-label>CVV</mat-label>
                <input matInput required type="text" formControlName="cvv">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Número de Parcelas</mat-label>
                <mat-select formControlName="quantidade">
                    <mat-option *ngFor="let qtd of parcelas" [value]="qtd.value">
                        {{qtd.num}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="button">
                <button [disabled]="this.recargaform.get('numerocred')?.invalid" mat-raised-button style="background-color: #27ae60; color: #fff;">Enviar</button>
                <button mat-raised-button style="background-color: #c70039; color: #ffff;">Limpar</button>
            </div>            
        </div>
    </mat-card>
    </form>
</div>