<div class="sobre-page">
    <div class="sobre-inicio">
      <div class="texto-sobre">
        <h1 id="titulo-sobre">Nascemos com a missão de deixar a vida mais fácil.<br> Pra todo mundo.</h1>
        <p id="sub-titulo-sobre">Não fazemos isso só pelo dinheiro. Mas por acreditarmos que podemos transformar o mundo das pessoas pra melhor.</p>
      </div>      
    </div>
    <div class="sobre-ponta" style="margin-top: 100px;">
      <div class="sobre-txt">
        <h1 class="sobre-title">Uma ideia que ganhou vida</h1>
        <p class="sobre-sub">O BuscaBus nasceu em Hortolândia, durante uma aula de aplicações web no IFSP, inicialmente pensando nos estudantes, mas agora facilitando a vida de todos!</p>
      </div>
      <div class="sobre-img">
        <img class="img-sobre" src="assets/estudante.jpg">
      </div>
    </div>
    <div class="sobre-meio" style="margin-top: 0px;">
      <div class="sobre-img">
        <img class="img-sobre" src="assets/deficiente.jpg">
      </div>
      <div class="sobre-txt-inverse">
        <h1 class="sobre-title">É sobre sonhar junto</h1>
        <p class="sobre-sub">Começamos por melhorar a vida de algumas pessoas, mas hoje impactamos a todos, oferecendo conforto, segurança e conveniência para aqueles que anteriormente tinham dificuldades em recarregar o bilhete único.</p>
      </div>
    </div>
    <div class="sobre-ponta" style="margin-top: 0px;">
      <div class="sobre-txt">
        <h1 class="sobre-title">Guiados pela Paixão pela Mudança</h1>
        <p class="sobre-sub">Evolução, Transformação e Revolução foram os pilares que deram origem ao BuscaBus. Revolucionamos o processo de compra de passagens e resolvemos os desafios do sistema de recarga dos bilhetes únicos.</p>
      </div>
      <div class="sobre-img">
        <img class="img-sobre" src="assets/pessoas.jpg">
      </div>
    </div>
    <app-rodape></app-rodape>
  </div>