.content {
  /*Essa classe se refere ao fundo da página inicio, isto é, uma div onde estão todos os elementos dentro*/
  width: 100%;
  height: 100%;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
}

.azul-royal{
  color: #002366;
}

.elementside {
  /*Essa classe foi usada para colocar dois elementos lado a lado*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: flex-start;
}

.texto {
  /*Essa classe foi usada para separar os textos da imagem*/
  width: 30%;
  text-align: left;
  justify-content: center;
}

.blue-text {
  /*Usada para colocar cor aos textos*/
  color: #5499C7;
}

.title {
  /*Usada para aplicar estilo de titulo para um elemento*/
  font-size: 30px;
  font-weight: 425;
}


.checks {
  /*Usada para colocar os beneficios em formato de coluna e alterar sua fonte*/
  font-size: 17px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.green-color {
  /*Usada para colocar os textos na cor verde*/
  color: #58D68D
}

.icon {
  /*Usada para alterar os icones 'checks'*/
  width: 20px;
  margin-right: 10px;
  height: 20px;
  
}

.vantagens{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
  color: #fff;
  background: linear-gradient(to top, #F9AA33, #ffaf38);
}

.vantagens-txt{
  margin-top: 20px;
  text-align: justify;
  width: 50%;
  font-size: 16px;
}

#notext-logo{
  margin-top: 20px;
}

.bilhete-unico{
  width: 100%;
  height: auto;
  background-color: #248ce7;
  color: #fff;
}

.button {
  /*Usada para distanciar o botao dos textos e fazer com que ele preencha horizontalmente toda a div que está inserido*/
  margin-top: 10px;
  width: 100%;
}


.img-inicio {
  /*Alterar tamanho da div que comporta a img */
  width: 50%;
}

.img-inicio img {
  /*Alterar tamanho da img que esta dentro da div */
  width: 100%;
}

.cards {
  /*Organiza os cards que estão no carrosel e define o tamanho da div*/
  text-align: center;
  height: auto;
  width: 100%;
  margin-bottom: 80px;
  align-items: center;
  
}

.font-up {
  /*Aumenta o tamanho da font*/
  font-size: 25px;
}

.bold-up {
  /*coloca a font em negrito*/
  font-weight: 450;
}



.carousel {
  /*Organiza os mat-cards que estao dentro do carrossel que foi criando usando a biblioteca ngx-slick-carrosel*/
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.ngx{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}


.card-viagens {
  /*Define as propriedades de cada card que está dentro do carrosel. Também separa um card do outro*/
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  overflow: hidden;
  /*Faz com que as imagens  do card respeitem os limetes do card e ajusta a largura para que ela preencha o card horizontalmente*/
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 60%;
}




.img-container {
  /*Faz com que as imagens  do card respeitem os limetes do card e ajusta a largura para que ela preencha o card horizontalmente*/
  width: 100%;
  overflow: hidden;
}

.viagens {
  /*Ajusta o conteudo dos cards*/
  width: 100%;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-top {
  margin-top: 10px;
}


.font-down {
  font-size: 16px;
}


.img {
  width: 100%;
  height: 200px;

}

.txt-center {
  text-align: center;
}


.font-preco {
  /*Usada para modificar o texto que mostra o preço definitivo*/
  font-size: 45px;
  color: #000;
  font-weight: 550;
}

.texto p {
  font-weight: 300;
}

.ava-content{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.avaliacoes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


.avaliacoes mat-card{
  width: 300px;
  height: 400px;
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;    
  overflow: hidden;
}

.avaliacoes mat-card-content{
  margin-bottom: 40px;
}

.avaliacoes mat-card-title{
  font-size: 16px;
}

.avaliacoes mat-card-subtitle{
  font-size: 12px;
}

.avaliacoes mat-card-header{
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.rating{
  margin-top: 30px;
  margin-bottom: 20px;
  width: 125px;
}

@media screen and (max-width: 480px) {
  .cards{
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .card-viagens{
    width: 50%;
    height: 50%;
  }

  .carousel{
    width: 100%;
    height: auto;
  }

  .viagens{
    width: 70%;
  }

  .img-container{
    width: 100%;
  }

  .img-container img{
    width: 100%;
    height: 200px;
  }

  .font-down{
    font-size: 100%;
  }

  .font-preco{
    font-size: 200%;
  }

  .img-container img{
    height: auto;
    width: 100%;
  }

  .elementside{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }  

  .title{
    font-size: 24px;
  }

  .texto {
    margin-top: 0;
    width: 80%;
    text-align: left;
    justify-content: center;
    margin-bottom: 50px;
  }

  .img-inicio{
    width: 100%;
  }

  .vantagens{
    margin-top: 60px;
    width: 100%;     
  }
  
  .vantagens-txt{
    text-align: justify;
    width: 80%;
    font-size: 14px;
  }

  .vantagens h1{
    text-align: center;
  }

  .ava-content{
    margin-top: 50px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .avaliacoes{
    align-items: center;
  }

  .avaliacoes mat-card{
    width: 30%;
    height: auto;
    margin-bottom: 50px;
  }
  
  .avaliacoes mat-card-content{
    height: auto;
  }
  
  
  .avaliacoes mat-card-header{
    position: relative;
  }
  
  .rating{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 125px;
  }

}

@media screen and (min-width:481px) and (max-width: 767px) {
  .elementside{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }  

  .title{
    font-size: 24px;
  }

  .cards{
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .card-viagens{
    width: 50%;
    height: 50%;
  }

  .carousel{
    width: 100%;
    height: auto;
  }

  .viagens{
    width: 70%;
  }

  .img-container{
    width: 100%;
  }

  .img-container img{
    width: 100%;
    height: 200px;
  }

  .font-down{
    font-size: 100%;
  }

  .font-preco{
    font-size: 200%;
  }

  .img-container img{
    height: auto;
    width: 100%;
  } 

  .texto {
    margin-top: 0;
    width: 80%;
    text-align: left;
    justify-content: center;
    margin-bottom: 50px;
  }

  .img-inicio{
    width: 100%;
  }

  .vantagens{
    margin-top: 60px;
    width: 100%;     
  }
  
  .vantagens-txt{
    text-align: justify;
    width: 80%;
    font-size: 14px;
  }

  .vantagens h1{
    text-align: center;
  }

  #notext-logo{
    width: 50%;
    margin-top: 60px;
  }

  .ava-content{
    margin-top: 50px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .avaliacoes{
    align-items: center;
  }

  .avaliacoes mat-card{
    width: 150px;
    height: auto;
    margin-bottom: 50px;
  }
  
  .avaliacoes mat-card-content{
    height: auto;
  }
  
  
  .avaliacoes mat-card-header{
    position: relative;
  }
  
  .rating{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 125px;
  }

  .carousel{
    width: 1200px;
    height: 600px;
  }
  
}

@media (min-width: 768px) and (max-width: 1023px) {
  
  
  .elementside{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }  

  .title{
    font-size: 40px; 
  }

  .cards{
    width: 100%;
  }

  .cards mat-card{
    width: 50%;
    height: 300px;
  }

  .font-preco{
    font-size: 20px;
  }

  .cards mat-card .img-container img{
    width: 100%;
    height: auto;
  }

  .sub-title{
    font-size: 24px;
  }

  .checks{
    font-size: 18px;
  }

  .avaliacoes .texto {
    margin-top: 0;
    width: 80%;
    text-align: left;
    justify-content: center;
    margin-bottom: 50px;
  }

  .img-inicio{
    width: 100%;
  }

  .vantagens{
    margin-top: 60px;
    width: 100%;
    height: 800px;    
  }
  
  .vantagens-txt{
    text-align: justify;
    width: 80%;
    font-size: 20px;
  }

  .vantagens h1{
    text-align: center;
    font-size: 34px;
  }

  #notext-logo{
    width: 40%;
    margin-top: 60px;
  }


  .ava-content{
    margin-top: 50px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .avaliacoes{
    align-items: center;
  }

 .avaliacoes mat-card{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .avaliacoes mat-card-content{
    height: auto;
  }

  .avaliacoes mat-card-subtitle{
    font-size: 14px;
  }
  
  
  .avaliacoes mat-card-header{
    position: relative;
  }
  
  .rating{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 125px;
  }
}

@media screen and (min-width: 1024px){

  #notext-logo{
    margin-top: 40px;
  }

  .bilhete-unico .texto p{
    font-size: 18px;
  }

  .elementside .texto{
    margin-top: 180px;
    
  }
  
}

