<div class="content">
<div class="inicio">
    <div class="texto">
        <h1 class="blue-text title">A Melhor plataforma para comprar passagens intermunicipais e recarregar os seus bilhetes</h1>
        <h2 class="blue-text sub-title">Conectando Destinos, Criando Memórias.</h2>
        <div class="checks">
            <p><mat-icon class="icon">check</mat-icon>Facilidade</p>
            <p><mat-icon class="icon">check</mat-icon>Praticidade</p>
            <p><mat-icon class="icon">check</mat-icon>Segurança</p>
        
        </div>
        <button class="button" mat-raised-button color="primary">Confira os locais</button>
        
    </div>
    <div class="img-inicio">
        <img src="assets\bus-logo.jpeg">
    </div>
</div>

<div class="cards">
    <h1 class="blue-text font-up bold-up" >Veja os Municípios:</h1>
    <ngx-slick-carousel class="carousel" [config]="slickConfig">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <mat-card>
          <div class="img-container">
            <img [src]="slide.imageUrl" alt="Imagem do Slide" class="img">
          </div>
          <mat-card-content class="viagens">
            <div class="destino"><h1  class="font-down margin-top margin-bottom">{{slide.saida}}</h1>
                <mat-icon>swap_vert</mat-icon>
                <p class="font-down margin-top" style="color: #1C2833 ;">{{slide.destino}}</p>
            </div>
            <div class="preco">
                <p>A partir de</p>
                <h1 class="font-preco bold-up">R$ {{slide.preco}}<sup style="margin-left: 10px;">{{slide.cents}}</sup></h1>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ngx-slick-carousel>
  </div>

  <div class="bilhetes">
    <h1>Tenha a solução completa para recarregar o seu bilhete único diretamente de casa</h1>
    <p><mat-icon class="icon">check</mat-icon>Totalmente seguro</p>
    <p><mat-icon class="icon">check</mat-icon>Cobertura a todos os Municípios do Estado de São Paulo</p>
  </div>
  
</div>