.content{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.txt-center{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 35px;
}

.desenvolvedor{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

mat-card{
  margin-top: 50px;
  width: 300px;
  height: auto;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.img-dev{
  border: 3px solid #000 ;
}

.ferramenta{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


@media screen and (max-width: 900px) {
  .desenvolvedor{
    flex-direction: column; 
    justify-content: center;
   }

   .content{
    flex-direction: column;
   }
}