<div class="content">
    <mat-card>
        <mat-card-title class="margin-bottom">
            Acesse sua conta:
        </mat-card-title>
        <mat-card-content>
            <form  [formGroup]="angForm" (ngSubmit)="postdata(angForm)" class="form">
                <div class="inic-colum margin-bottom">
                    <p>Usuário: </p>
                    <mat-form-field>
                        <mat-label>Digite seu e-mail:</mat-label>
                        <input required matInput type="text" id="email" [(ngModel)]="user" name="Email" formControlName="email">
                    </mat-form-field>
                </div>
                <div class="inic-colum margin-bottom">
                    <p>Senha: </p>
                    <mat-form-field>
                        <mat-label>Digite sua senha:</mat-label>
                        <input required matInput type="text" id="senha" [(ngModel)]="senha" name="Senha" formControlName="password">
                    </mat-form-field>
                </div>

                <a id="cadastro" routerLink="/cadastro" class="margin-bottom">Não possui uma conta? Clique aqui para
                    se cadastrar!</a>

                <button type="submit" mat-raised-button color="primary"><mat-icon>done</mat-icon></button>
            </form>
        </mat-card-content>
    </mat-card>
</div>