<div class="content">
    <mat-card class="card">
        <mat-card-title class="margin-bottom">
            Crie sua conta:
        </mat-card-title>
        <mat-card-content>
            <div class="form">
                <div class="inic-colum">
                    <p>Nome: </p>
                    <mat-form-field >
                            <mat-label>Digite seu nome:</mat-label>
                            <input required matInput type="text">
                    </mat-form-field>
                    </div>
                <div class="inic-colum">
                <p >Usuário: </p>
                <mat-form-field >
                        <mat-label>Digite seu usuário:</mat-label>
                        <input required matInput type="text">
                </mat-form-field>
                </div>
                <div class="inic-colum">
                    <p>Telefone: </p>
                    <mat-form-field >
                            <mat-label>Digite seu número:</mat-label>
                            <input required matInput type="tel">
                    </mat-form-field>
                    </div>
                <div class="inic-colum">
                    <p>Senha: </p>
                    <mat-form-field>
                            <mat-label>Digite sua senha:</mat-label>
                            <input required matInput type="password">
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary"><mat-icon>done</mat-icon></button>
            </div>
        </mat-card-content>
    </mat-card>
    </div>