.example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar{
    background: linear-gradient(to bottom, #0054ff,#0096C7);
    color: #f2f2f2;
    display: flex;
    align-items: center;
  }

  mat-toolbar span img{
    width: 30%;
    height: auto;
    margin-top: 10px;
  }



  .botao{
    margin-left: 20px;
    background-color: transparent;
  }

  .menu{
    width: 100%;
  }
  
  

  .hud{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hud mat-icon{
    margin-right: 5px;
  }