.example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar{
    background: linear-gradient(to bottom, #2E86C1 , #7546f7 );
    color: #f2f2f2;
  }

  .botao{
    margin-left: 20px;
    background-color: transparent;
  }

  .menu{
    width: 100%;
  }

  .hud{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hud mat-icon{
    margin-right: 5px;
  }